


@media (min-width: 640px) {
  #iubenda-cs-banner.iubenda-cs-default-floating.iubenda-cs-center:not(.iubenda-cs-top):not(.iubenda-cs-bottom) .iubenda-cs-container, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-bottom):not(.iubenda-cs-center) .iubenda-cs-container, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-top):not(.iubenda-cs-center) .iubenda-cs-container{
  }
}

#iubenda-cs-banner.iubenda-cs-default-floating.iubenda-cs-center:not(.iubenda-cs-top):not(.iubenda-cs-bottom) .iubenda-cs-opt-group button, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-bottom):not(.iubenda-cs-center) .iubenda-cs-opt-group button, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-top):not(.iubenda-cs-center) .iubenda-cs-opt-group button.iubenda-cs-reject-btn {
  background-color: #2E3139 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  min-height: 45px !important;
}

#iubenda-cs-banner.iubenda-cs-default-floating.iubenda-cs-center:not(.iubenda-cs-top):not(.iubenda-cs-bottom) .iubenda-cs-opt-group button, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-bottom):not(.iubenda-cs-center) .iubenda-cs-opt-group button, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-top):not(.iubenda-cs-center) .iubenda-cs-opt-group button.iubenda-cs-accept-btn {
  background-color: #2E3139 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
}

#iubenda-cs-banner.iubenda-cs-default-floating.iubenda-cs-center:not(.iubenda-cs-top):not(.iubenda-cs-bottom) .iubenda-cs-opt-group button, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-bottom):not(.iubenda-cs-center) .iubenda-cs-opt-group button, #iubenda-cs-banner.iubenda-cs-default-floating:not(.iubenda-cs-top):not(.iubenda-cs-center) .iubenda-cs-opt-group button.iubenda-cs-customize-btn {
  background-color: #fff !important;
  color: #2E3139 !important;
  border-radius: 0px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  border: 1px solid #2E3139 !important;
}

#iubenda-cs-banner .iubenda-banner-content:not(.iubenda-custom-content) *, #iubenda-cs-banner [class*=" iub"], #iubenda-cs-banner [class^=iub] .iub-p .iubenda-cs-cookie-policy-lnk{
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #2E3139 !important;
  opacity: 1 !important;
}

#iubenda-cs-banner .iubenda-banner-content:not(.iubenda-custom-content) *, #iubenda-cs-banner [class*=" iub"], #iubenda-cs-banner [class^=iub] .iub-p{
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #2E3139 !important;
}

#iubenda-cs-banner .iubenda-banner-content:not(.iubenda-custom-content) *, #iubenda-cs-banner [class*=" iub"], #iubenda-cs-banner [class^=iub] .iub-p:nth-child(1){
  margin-bottom: 25px !important;
}

#iubenda-cs-banner #iubenda-cs-title{
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #2E3139 !important;
  margin-bottom: 10px !important;
}

#iubenda-cs-banner .iubenda-banner-content:not(.iubenda-custom-content) *, #iubenda-cs-banner [class*=" iub"], #iubenda-cs-banner [class^=iub] .iubenda-banner-content-padded{
  padding-bottom: 20px !important;
  margin: 0px !important;
}


#iubenda-cs-banner.iubenda-cs-default-floating .iubenda-cs-container .iubenda-cs-content{
  border-radius: 0px !important;
  margin: 20px !important;
  padding: 20px !important;
}


#iubenda-cs-banner .iubenda-cs-container .iubenda-cs-content .iubenda-cs-opt-group{
  margin: 0px !important;
}

#iubenda-cs-banner [class^=iub] .iubenda-cs-close-btn {
  display: none;
}

// ================================================ //

#iubenda-iframe #iubenda-iframe-content .iub-btn-back{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #2E3139 !important;
  border-radius: 0px !important;
  min-height: 45px !important;
  opacity: 1 !important;
}

#iubenda-iframe #iubenda-iframe-content .iub-btn-stroked{
  border: 1px solid #2E3139 !important;
}

#iubenda-iframe #iubenda-iframe-content .purposes-header-right .iub-btn-cp{
  font-family: 'Roboto', sans-serif !important;
  background-color: transparent !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  text-decoration-line: underline !important;
  color: #2E3139 !important;
}

#iubenda-iframe #iubenda-iframe-content .purposes-header-right .iub-btn-cp:hover{
  border: none !important;
}

#iubenda-iframe #iubenda-iframe-popup.iubenda-showing-popup{
  width: 600px !important;
  height: 713px !important;
  border-radius: 0px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-content .purposes-header-title{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #2E3139 !important;
}


#iubenda-iframe #iubenda-iframe-popup .purposes-content .purposes-header-text{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #2E3139 !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .iub-consent-buttons{
  padding-bottom: 20px !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .iub-consent-buttons.purposes-buttons div{
  display: flex !important;
  flex: 1 !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .iub-consent-buttons.purposes-buttons div > button{
  font-family: 'Roboto', sans-serif !important;
  display: flex !important;
  flex: 1 !important;
  background-color: transparent !important;
  color: #2E3139 !important;
  border: 1px solid #2E3139 !important;
  border-radius: 0px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body{
  padding-bottom: 15px !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .iub-consent-buttons.purposes-buttons{
  padding-left: 20px !important;
  padding-right: 20px !important;

  @media(max-width: 799px){
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .iub-consent-buttons.purposes-buttons div > .iub-btn-accept{
  border: 2px solid #2E3139 !important;
}


#iubenda-iframe #iubenda-iframe-popup .purposes-body .iub-consent-buttons{
  box-shadow: none !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .purposes-item .purposes-item-title-btn {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #83898B !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .purposes-item .purposes-item-body {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 26px !important;
  color: #131E29 !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .purposes-item:not(:last-child){
  border: 1px solid #83898B !important;
  margin-top: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .purposes-item label{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  color: #131E29 !important;
}

#iubenda-iframe #iubenda-iframe-popup .purposes-body .purposes-item-header{
  padding: 20px 0 !important;
}

#iubenda-iframe #iubenda-iframe-popup .iubenda-iframe-footer{
  display: flex;
  flex-direction: column;
  padding-right: 20px !important;
  padding-left: 20px !important;

  @media(max-width: 799px){
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

#iubenda-iframe #iubenda-iframe-popup .purposes-content{
  overflow-y: auto !important;
}


#iubenda-iframe #iubenda-iframe-popup .purposes-content .purposes-header{
  padding: 14px 24px !important;
}

#iubenda-iframe #iubenda-iframe-popup #iubFooterIabBtnContainer{
  display: none;
}



#iubenda-iframe #iubenda-iframe-popup #iubFooterBtnContainer{
  display: flex;
  align-self: normal !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 13px !important;
}

#iubenda-iframe #iubenda-iframe-popup #iubRejectBtn {
  display: none;
}
#iubenda-iframe #iubenda-iframe-popup #iubFooterBtn{
  font-family: 'Roboto', sans-serif !important;
  background-color: #2E3139 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  min-height: 45px !important;
}

.iubenda-tp-btn[data-tp-float][data-tp-float=bottom-right], .iubenda-tp-btn[data-tp-float][data-tp-float=top-right]{
  display: none !important;
}

// ======================================= //







